# Ollama Config
OLLAMA_URL=http://localhost:11434
OLLAMA_MODEL=qwen3.5:4b
OLLAMA_EMBEDDING_MODEL=embeddinggemma:latest

# Database Config 
DATABASE_URL=mysql://your_user:your_password@localhost:3306/your_database_name
REDIS_URL=redis://localhost:6379

# QDRANT
QDRANT_URI=http://localhost:6333
QDRANT_VECTOR_SIZE=768
QDRANT_DISTANCE=Cosine
QDRANT_TIMEOUT=5000
QDRANT_RAG_DOCS_COLLECTION=rag_docs

# Server Config
PORT=3132
ALLOWED_ORIGINS=http://localhost:2175

# Sessions Config
SESSION_SECRET=""

# Frontend
VITE_SERVER_URL="http://localhost:3132"
VITE_PORT=2175