# Ollama Config
OLLAMA_URL=http://10.252.1.10:11435
OLLAMA_MODEL=gemma3:12b
OLLAMA_EMBEDDING_MODEL=embeddinggemma:latest

# Database Config 
MONGODB_URI=mongodb://10.252.1.10:27017/pumai
CHROMA_DB_HOST=localhost
CHROMA_DB_PORT=8000
CHROMA_DB_SSL=false

# Qdrant Config
QDRANT_URI=http://localhost:6333
QDRANT_VECTOR_SIZE=768
QDRANT_DISTANCE=Cosine
QDRANT_TIMEOUT=5000
QDRANT_RAG_DOCS_COLLECTION=rag_docs

# Server Config
PORT=3000
FRONT_END_ORIGIN=http://localhost:2173

# Sessions 
SESSION_SECRET=your_session_secret_here

